<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_INormalService" />
        </basicHttpBinding>
        <wsDualHttpBinding>
          <binding name="WSDualHttpBinding_IMessageService"/>
        </wsDualHttpBinding>
      </bindings>
        <client>
            <endpoint address="http://localhost:18683/NormalService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INormalService"
                contract="NormalService.INormalService" name="BasicHttpBinding_INormalService" />
            <endpoint address="http://localhost:18683/MessageService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IMessageService"
                contract="MessageService.IMessageService" name="WSDualHttpBinding_IMessageService">
                <identity>
                    <userPrincipalName value="WIN-20170319OLI\Administrator" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>